# Environment files
.env

# Config files
bot_config.yaml
logging_config.yaml
blacklist.json
overseer-info.txt
gintama_counter.txt

# Log files
*.log

# Compiled files
*.pyc
*.swp

# Cache folders
__pycache__/
